.header{
    background:rgb(5, 247, 251);
    text-align: left;
    color: rgb(249, 7, 7);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom:1px solid ;
    padding: 10px; 0px;
    
}

.topnav{
    overflow: hidden;
    background-color: #333;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
    width: 22% ;
    margin-top:100px ;
    
  }
  

.topnav a:hover{
    background-color: #ddd;
    color: black;
  }

.column {
    float: left;
    width: 20%;
    padding: 15px;
}
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
}
  
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
  footer{
    position: relative;
    width: 100%;
    height: px;
    padding: 50px 100px;
    background: rgb(251, 250, 250);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
  
